main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -300px;
}

main .container {
    margin-top: -20px;
    box-shadow: 0px -7px 33px rgba(0,0,0,0.05);
    padding-bottom: 30px;
}

header .container {
    padding: 0;
}

footer {
    background-color: #092E68;
    color: #fff;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 50%;
}

footer ul li {
    padding: 10px 0 0 0;
}

footer a {
    color: #fff;
}

footer, #push {
    height: 300px;
}

header.navbar-default {
    background-color: #092E68;
    height: 87px;
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;

}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #cccccc;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    text-decoration: underline;
    line-height:20px;
}

.container {
    width: 1000px;
}

header .container>.navbar-header, 
header .container-fluid>.navbar-header, 
header .container>.navbar-collapse, 
header .container-fluid>.navbar-collapse,
header .navbar-brand {
    height: 87px;
}

.navbar-nav {
    margin-top: 20px;
    float: right;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #2C518A;
    margin-top: 14px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
    color: #ccc;
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
    color: #fff;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
    background: transparent;
    color: #ccc;
}

body {
    font-family: "Museo300", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    color: #07439b;
    text-align: center;
}

.clear {
    clear: both;
}

.mg_20 {
    margin: 20px;
}

.block {
    display: block;
}

.destaque-noticia .richtext {
    text-align: left;
    padding: 10px 0;
}
.img-destaque-noticia {
    width: 100%;
}

.destaque-noticia aside {
    padding: 0;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.05);
    margin: 40px 0 0 40px;
    border-radius: 5px;
}

.destaque-noticia aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.destaque-noticia aside ul li {
    padding: 10px 5px;
}

.destaque-noticia aside ul li + li {
    border-top: 1px solid #efefef;
}


.noticias-listagem img {
    width: 100px;
    margin: 0 10px 5px 0;
}

.richtext ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.richtext ol > li {
  margin: 0;
  padding: 1em 0 0 2em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

.richtext ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}