@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    var conteudo = Model.conteudo;
    var titulo = Model.titulo;
    var imagem = Library.MediaById(Model.imagem);
}

<img src="@imagem.Url" class="img-destaque" />

<h2>@titulo</h2>
    
<div class="richtext">
    @conteudo
</div>
