@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    var eventos = Model.DescendantsOrSelf("Eventos").FirstOrDefault();
    var json = "[";
    var node = new umbraco.NodeFactory.Node(Model.Id);
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    foreach (var item in eventos.Children())
    {
        json += 
            "{" +
            "\"date\": \"" + item.dataHora.ToString("yyyy-MM-dd HH:mm:ss") + "\"," +
            "\"title\": \"" + item.Titulo + "\"," +
            "\"description\": \"" + item.descricao + "\"," +
            "\"url\": \"" + item.link + "\"" +
            "},";
    }

    
    json += "{}]";
}

<input type="hidden" id="eventos" value="@json" />

<div class="calendar-wrapper">
    <div id="eventCalendarOnlyOneDescription"></div>
</div>
<div class="horarios-aula">
    <h3>Horários de aula</h3>
    @Model.horariosDeAula
</div>